.list{
display: flex;
flex-direction: column;
list-style-type: none;
}
.item{
   display: flex;
   font-weight: bold;
   font-size: 16px;
   
}
.link{
   text-decoration: none;
 cursor: pointer;
 color: rgb(0, 0, 0);
}
.link:hover, .link:focus{
   color: deeppink;
}